extends layout

block content
	if user
		p
			| Welcome #{user.name}
			|would you like to 
			a(href='/logout') logout?
	else
		p
			| Welcome stranger would you like to 
			a(href='/auth/twitter') login?